{% extends "network/layout.html" %}

{% block body %}
    <h2>Home</h2>

    {% if user.is_authenticated %}
        <div class="div-create">
            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    {% endif %}
    <hr>
    
    {% include "network/posts.html" %}

{% endblock %}