{% load static %}

{% if number_of_posts > 0 %}
    {% for post in page_obj %}
        <div class="post-panel">
            <div class="post-header">
                <div>
                    <a class="username" href="{% url 'profile' profile_id=post.user.id %}"><strong>{{ post.user }}</strong></a>
                </div>
                <div class="post-time">
                    &bull; {{ post.time }}
                </div>
                <div class="edit-btn-container">
                    {% if user.is_authenticated and user.id == post.user.id %}
                        <div id="edit-div-{{ post.id }}">
                            <button class="btn btn-outline-primary btn-sm" id="edit-btn-{{ post.id }}">Edit</button>
                        </div>
                        <div class="default-hidden" id="save-div-{{ post.id }}">
                            <button class="btn btn-primary btn-sm" id="save-btn-{{ post.id }}">Save</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="post-content-saved" id="content-div-{{ post.id }}-saved">
                {{ post.content }}
            </div>
            {% if user.is_authenticated and user.id == post.user.id %}
                <div class="default-hidden post-content-editing" id="content-div-{{ post.id }}-editing">
                    <textarea class="form-control" rows="6" maxlength="280" id="content-textarea-{{ post.id }}">{{ post.content }}</textarea> 
                </div>
                <div class="default-hidden input-error" id="input-error-{{ post.id }}">
                    Post cannot be blank.
                </div>
            {% endif %}
            <div class="likes-container" id="likes-div-{{ post.id }}">
                {% if user.is_authenticated and post.id not in liked_post_ids %}
                    <div id="like-div-{{ post.id }}">
                        <button class="remove-style" id="like-btn-{{ post.id }}">
                            <i class="fa fa-heart-o heart-unliked"></i>
                        </button>
                    </div>
                {% elif user.is_authenticated and post.id in liked_post_ids %}
                    <div id="unlike-div-{{ post.id }}">
                        <button class="remove-style" id="unlike-btn-{{ post.id }}">
                            <i class="fa fa-heart heart-liked"></i>
                        </button>
                    </div>
                {% else %}
                    <div id="inactive-like-div-{{ post.id }}">
                        <button class="remove-style" id="inactive-like-btn-{{ post.id }}">
                            <i class="fa fa-heart-o heart-inactive"></i>
                        </button>
                    </div>
                {% endif %}
                <span class="likes-count" id="likes-count-{{ post.id }}">{{ post.number_of_likes }}</span>
            </div>
        </div>
    {% endfor %}
{% else %}
    No active posts
{% endif %}
    
<div class="pagination page-navigation">
    {% if page_obj.has_previous %}
        <a class="page-link" href="?page=1">&laquo;</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}