{% load static %}

{% if number_of_posts > 0 %}
    {% for post in page_obj %}
        <div class="post-panel">
            <div>
                <a class="username" href="{% url 'profile' profile_id=post.user.id %}"><strong>{{ post.user }}</strong></a>
            </div>
            {% if user.is_authenticated and user.id == post.user.id %}
                <div id="edit-div-{{ post.id }}">
                    <button id="edit-btn-{{ post.id }}">Edit</button>
                </div>
                <div class="default-hidden" id="save-div-{{ post.id }}">
                    <button id="save-btn-{{ post.id }}">Save</button>
                </div>
            {% endif %}
            <div id="content-div-{{ post.id }}-saved">
                {{ post.content }}
            </div>
            {% if user.is_authenticated and user.id == post.user.id %}
                <div class="default-hidden" id="content-div-{{ post.id }}-editing">
                    <textarea id="content-textarea-{{ post.id }}">{{ post.content }}</textarea> 
                </div>
                <div class="default-hidden input-error" id="input-error-{{ post.id }}">
                    Post cannot be blank.
                </div>
            {% endif %}
            <div>
                {{ post.time }}
            </div>
            <div id="likes-div-{{ post.id }}">
                Number of likes: {{ post.number_of_likes }}
            </div>
            {% if user.is_authenticated and post.id not in liked_post_ids %}
                <div id="like-div-{{ post.id }}">
                    <button id="like-btn-{{ post.id }}">Like</button>
                </div>
            {% elif user.is_authenticated and post.id in liked_post_ids %}
                <div class id="unlike-div-{{ post.id }}">
                    <button id="unlike-btn-{{ post.id }}">Unlike</button>
                </div>
            {% else %}
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    No active posts
{% endif %}
    
<div class="pagination page-navigation">
    {% if page_obj.has_previous %}
        <a class="page-link" href="?page=1">&laquo;</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
</div>

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}