{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ user.username }}</h2>

    <div>
        Followers: {{ followers_count }}
    </div>
    <div>
        Following: {{ following_count }}
    </div>
    <hr>
    {% if number_of_posts > 0 %}
        {% for post in all_user_posts %}
            <div>
                <div>
                    <strong>{{ post.user }}</strong>
                </div>
                <div>
                    {{ post.content }}
                </div>
                <div>
                    {{ post.time }}
                </div>
                <div>
                    Number of likes: {{ post.number_of_likes }}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        No active posts
    {% endif %}



{% endblock %}