{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ profile.username }}</h2>

    {% if user.id != profile.id %}
        <div>
            <form action="{% url 'follow' %}" method="POST">
                {% csrf_token %}
                {% if is_following == True %}
                    <input type="hidden" name="follow_action" value="unfollow">
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <button type="submit" class="btn btn-success">Following</button>
                {% else %}
                    <input type="hidden" name="follow_action" value="follow">
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <button type="submit" class="btn btn-outline-success">Follow</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    <div>
        Followers: {{ followers_count }}
    </div>
    <div>
        Following: {{ following_count }}
    </div>
    <hr>
    
    {% include "network/posts.html" %}

{% endblock %}