{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ profile.username }}</h2>

    {% if user.id != profile.id %}
        <div>
            <form action="{% url 'follow' %}" method="POST">
                {% csrf_token %}
                {% if is_following == True %}
                    <input type="hidden" name="follow_action" value="unfollow">
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <button type="submit" class="btn btn-success">Following</button>
                {% else %}
                    <input type="hidden" name="follow_action" value="follow">
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <button type="submit" class="btn btn-outline-success">Follow</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    <div>
        Followers: {{ followers_count }}
    </div>
    <div>
        Following: {{ following_count }}
    </div>
    <hr>
    {% if number_of_posts > 0 %}
        {% for post in all_user_posts %}
            <div>
                <div>
                    <strong>{{ post.user }}</strong>
                </div>
                <div>
                    {{ post.content }}
                </div>
                <div>
                    {{ post.time }}
                </div>
                <div>
                    Number of likes: {{ post.number_of_likes }}
                </div>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        No active posts
    {% endif %}



{% endblock %}