h2 {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

body {
    padding: 10px;
}

.default-hidden {
    display: none;
}

.input-error {
    color: red;
}

.post-panel {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 800px;
    min-height: 200px;
}

.post-panel:hover {
    background-color: #F8F8F8;
}

.username {
    color: black;
}

.username:hover {
    color: black;
}

.div-create {
    margin: 0 auto;
    width: 800px;
}

.page-navigation {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.remove-style {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.remove-style:focus {
    outline: none;
}

.heart-unliked {
    color: grey;
}

.heart-unliked:hover {
    color: #FF4033;
}


.heart-liked {
    color: #FF4033;
}

.likes-container {
    display: flex;
}
  
.likes-count {
    margin-left: 5px;
    color: grey;
}

.post-header {
    display: flex;
    flex-direction: row;
}

.post-time {
    margin-left: 5px;
    color: grey;
}